{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <div align="left" style="font-size: 19px">
        <ul>
            {% for evento in eventos %}
                <li>
                    <div style={% if evento.getEventoAtrasado %}
                                         "color:red"
                                        {% endif %}>
                        {{ evento.titulo }} - {{evento.getDataEvento }} - {{ evento.getDescricao }}
                        (<a href="evento/?id={{evento.id}}">Editar</a>
                        / <a href="evento/delete/{{evento.id}}/">Excluir</a>)
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br>
        <a href="/agenda/evento">
        <button type="button">Novo Evento</button>
        </a>
    </div>


{% endblock %}


