{% extends "model-page.html"  %}


{% block content %}

<h2>Eventos</h2>
<form action="submit" method="POST"> {% csrf_token %}
    <label>Titulo</label>
    <input type="number" name="idEvento" value="{{evento.id}}" hidden>
    <br>
    <input type="text" name="titulo" placeholder="Insira o titulo do evento" size="22" value="{{evento.titulo}}">
    <br><br>
    <label>Data do evento</label>
    <br>
    <input type="datetime-local" name="dataEvento" value="{{evento.getDataEventoUpdate}}">
    <br><br>
    <label>Local</label>
    <br>
    <input type="text" name="local" placeholder="Insira o local do evento" size="22" value="{{evento.local}}">
    <br><br>
    <label>Descrição</label>
    <br>
    <textarea name="descricao" rows="5" cols="24">{{evento.descricao}}</textarea>
    <br><br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>

{% endblock %}