<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Agenda</title>
</head>
<body>
    <h1>Login</h1>
        <form action="submit" method="POST"> {% csrf_token %}
            <div>
                <label>Usuário: </label>
                <input type="text" name="username" placeholder="Entre com usuário">
                <label>Senha: </label>
                <input type="password" name="password" placeholder="Entre com a senha">
                <button type="submit">Entrar</button>
            </div>
        </form>

    {% for message in messages %}
        <div align="center">
         <strong>Erro: </strong> {{ message }}
        </div>
    {% endfor %}


</body>
</html>